<div class="container">
  <ng-container *ngIf="!(userService.currentUser$ | async)?.name;then isNotLoggedTemplate; else isLoggedTemplate"></ng-container>
  <ng-template #isNotLoggedTemplate>
    <h1>{{ 'INFO.FORGOTPAGETITLE' | translate }}</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="updatePasswordForm" #formDir="ngForm">
      <div class="form-group">
        <label>{{'INFO.USERNAME' | translate}}
          <input class="form-control" formControlName="userName">
        </label>
        <div *ngIf="userName.pending">{{'ERROR.VALIDATING' | translate}}</div>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
             class="alert alert-danger">
          <div *ngIf="userName.errors['required']">
            {{'INFO.USERNAME' | translate}} {{'ERROR.REQUIRED' | translate}}.
          </div>
          <div *ngIf="userName.errors['isBadName']">
            {{'ERROR.USERNOTFOUND' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'INFO.OLDPASSWORD' | translate}}
          <input type="password"  class="form-control" formControlName="oldPassword">
        </label>
        <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
             class="alert alert-danger">
          <div *ngIf="oldPassword.errors['required']">
            {{'INFO.PASSWORD' | translate}} {{'ERROR.REQUIRED' | translate}}.
          </div>
          <div *ngIf="oldPassword.errors['minlength']">
            {{'ERROR.MINLENGTH' | translate}}} 4
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{'INFO.NEWPASSWORD' | translate}}
          <input type="password" class="form-control" formControlName="newPassword">
        </label>
        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
             class="alert alert-danger">
          <div *ngIf="newPassword.errors['required']">
            {{'INFO.PASSWORD' | translate}} {{'ERROR.REQUIRED' | translate}}.
          </div>
          <div *ngIf="newPassword.errors['minlength']">
            {{'ERROR.MINLENGTH' | translate}}} 4
          </div>
          <div *ngIf="newPassword.errors['badPassword']">
            {{'ERROR.BADPASSWORDLOGIN' | translate}}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="updatePasswordForm.invalid">{{'INFO.SUBMITBTN' | translate}}</button>
    </form>
  </ng-template>
  <ng-template #isLoggedTemplate>
    <h1>{{ 'LOGIN.LOGGED' | translate }}</h1>
    <button (click)="onClickLogout()" class="btn btn-danger align-self-lg-center"> {{'INFO.LOGOUT' | translate}}</button>
  </ng-template>

</div>
